.CompanyForm {
    margin-left: 200px;
}

.established {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    padding: 2px 5px 2px 5px;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 900;
    font-family: 'Nunito';
    color: rgb(80, 80, 80);
    background: #A6BEC4;
}

.formGroup {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 10px 0;
    /* padding: 10px; */

    background: whitesmoke;
    border: 2px solid #A6BEC4;
    font-family: 'Nunito';
    /* border-radius: 3px; */
}

.formGroup > * {
    width: 100%;
    border: none;
    outline: none;

    font-family: 'Nunito';
}

.formGroup .indicator {
    background: rgb(81, 211, 81);
    text-align: center;
    padding: 3px 0;
    margin-top: 0;
    color: forestgreen;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formGroup > input,
.formGroup > textarea {
    padding: 3px 5px;
    font-size: 12px;
}

.formGroup > button:active {
    transform: scale(0.95);
}
.formGroup > button {
    margin: 5px 10px;
    width: calc(100% - 20px);
}

.preview {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    background: whitesmoke;
    border: 2px solid #A6BEC4;
}

.preview > h2 {
    width: 100%;
    padding: 2px 0px 2px 5px;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Nunito';
    color: rgb(80,80,80);
    background: #A6BEC4;

}

.preview .ResultCard {
    margin: 30px;
}

.formGroup > label {
    width: 100%;
    padding: 2px 0px 2px 5px;
    margin: 0;
    font-size: 12px;
    font-family: 'Nunito';
    font-weight: 300;
    color: rgb(80, 80, 80);
    background: #A6BEC4;
}

.formGroup .material-symbols-rounded {
    font-size: 15px;
    font-variation-settings:
            'FILL' 0,
            'wght' 1000,
            'GRAD' 0,
            'opsz' 48
}

.CompanyForm button:hover {
    background: #3C1421;
    color: #D4C2C5;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CompanyForm button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #3C1421;
    background: #D4C2C5;
    border: 3px solid #3C1421;
    /* border: none; */
    padding: 2px 10px;
    /* font-size: 15px; */
    font-family: 'Nunito';
    font-weight: 1000;
    /* border-radius: 4px; */
}

.CompanyForm button:disabled {
    background: silver;
    border: 3px solid silver;
    color: grey;
}