.ResultsPage {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px;
    width: 100vw;
    height: calc(100vh - 40px);
    background: white;
}

.results > * {
    margin: 10px;
}

.results {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
    padding: 25px 10px;
    background: whitesmoke;
}

.searchBar {
    font-family: 'Nunito', sans-serif;
    width: 200px;
    border-radius: none;
    border: 2px solid silver;
    border-bottom: none;
    outline: none;
    padding: 5px 8px;
}