.ResultDetailPage {

}

.ResultDetailPage .companyInfo {
    position: relative;
    height: 300px;
}

.ResultDetailPage .companyInfo .logoContainer {
    height: 100px;
    width: 100px;

    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 1;

    /* border: 2px solid ; */
    border-radius: 50vmax;

    object-fit: contain;
}

.ResultDetailPage .companyInfo .logoContainer > img {
    width: 100%;
    border-radius: 50vmax;
}

.ResultDetailPage .heroContainer {
    position: relative;
    
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
    height: 280px;
}

.ResultDetailPage .heroContainer h2 {
    position: absolute;
    z-index: 1;
    width: 200px;
    right: 20px;
    bottom: 20px;
}

