.NavBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 2;
  min-height: 35px;
  max-height: 70px;
  width: 100%;
  margin: 0;
  padding: 1vh 20px;

  background: #3c1421 ;
  color: #D4C2C5;
  font-family: 'Nunito', san-serif;
}

.NavBar > div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.NavBar-logo {
  font-family: 'Rubik Dirt';
  font-size: 24px;
}

.NavBar-link {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px 5px;
  margin: 0 5px;

  font-size: 12px;
  text-decoration: none;
  color: #D4C2C5;
}

.NavBar-welcome {
  color: lavender;
  margin-top: 3px;
font-weight: 800;
  font-size: 12px;
}


.NavBar-link .material-symbols-rounded {
  padding-left: 5px;
  font-size: 20px;
  /* color: lavender; */
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.NavBar-welcome + .material-symbols-rounded {
  color: lavender;
  font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}
/* 
.material-symbols-rounded {
  color: lavender;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
} */



/* .NavBar-basket {
  position: relative;
}

.NavBar-basketTotal {
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  background: red;
  font-weight: 800;
  height: 15px;
  width: 15px;
  border-radius: 50vmax;
  
  display: flex;
  justify-content: center;
  align-items: center;
} */