.App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    
    position: relative;
    min-height: calc(100vh - 70px);
}

.pageWrapper {
    margin: 35px 0 40px 0;
}

.page-wrapper > * {
    min-height: calc(100vh - 35px);
}

